{% extends 'base.html' %}


{% block content %}
<h1>Hello, world!</h1>
<div class="container">
    <form action="." method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>
        
        {% if obj %}
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>
        <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail" >
        {% endif %}
        <hr>
        
        <section class="text-gray-600 body-font">
        {% for x in img %}
            {% if forloop.first %}<div class="row ">{% endif %}
                <div class="container px-5 py-24 mx-auto">
                  <div class="gallery flex flex-wrap -m-4">
                    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                      <a class="block relative h-48 rounded overflow-hidden" href="{{x.image.url}}"
                        title = "{{x.caption}}"
                        data-at-450="{{x.image.url}}"
                        data-at-800="{{x.image.url}}"
                        data-at-1366="{{x.image.url}}"
                        data-at-1920="{{x.image.url}}">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{x.image.url}}">
                      </a>
                      <div class="mt-4">
                        <span>
                          <h1 class="text-black-500 text-xs tracking-widest title-font mb-1">
                            <i class="fa fa-solid fa-copy"></i>
                            <i class="fa fas fa-trash"></i>
                            <i class="fa fas fa-redo"></i>
                          </h1>
                        </span>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Caption: {{x.caption}}</h2>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Category: {{x.category}}</h2>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Location : {{x.location}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
        </section>
      {% endfor %}

{% endblock content %}